.menuContainer {
    padding:10px;
}

.displayContainer {
    padding:10px;
}

.collection-container {
    border: 2px dashed rgba(51, 51, 51, 0.65);
    border-radius: 10px;
    padding: 10px;
}

.css-i9gxme {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.css-j7qwjs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-qd8o2v {
    border-color: var(--chakra-colors-borderColor);
    border-top-width: 1px;
    border-bottom-width: 1px;
    background: var(--chakra-colors-backgroundHighlight);
    width: var(--chakra-sizes-full);
    padding-top: var(--chakra-space-6);
    padding-bottom: var(--chakra-space-6);
}

.css-1w9wi5p {
    width: 100%;
    margin-inline: auto;
    max-width: var(--chakra-sizes-container-page);
    padding-inline-start: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
}

.css-9vm5hm {
    display: flex;
    flex-direction: column;
    -webkit-box-align: inherit;
    align-items: inherit;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: var(--chakra-space-4);
}

.css-rdwj84 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--chakra-space-4);
}

.collection_image {
    animation: 0s ease 0s 1 normal none running none;
    flex-shrink: 0;
}

.css-1qe2zts {
    object-fit: contain;
    width: 64px;
    height: 64px;
}

.css-cf44ob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--chakra-space-2);
    padding: 4px;
}

.css-cdkrf0 {
    animation: 0s ease 0s 1 normal none running none;
}

.collection_title {
    font-family: var(--chakra-fonts-heading);
    font-weight: 700;
    color: var(--chakra-colors-heading);
    font-size: var(--tw-font-size-title-md);
    line-height: 1.125;
    letter-spacing: 0.15px;
}

.collection_description {
    color: var(--chakra-colors-paragraph);
    font-size: var(--tw-font-size-body-md);
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--chakra-line-clamp);
    --chakra-line-clamp: 2;
}

.css-1fb3o3p {
    display: flex;
    flex-direction: row;
    gap: var(--chakra-space-2);
}

.css-4xh3xa {
    display: inline-flex;
    appearance: none;
    height: 25px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1;
    border-radius: var(--chakra-radii-md);
    font-weight: 600;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    /* height: var(--chakra-sizes-6); */
    min-width: var(--chakra-sizes-6);
    font-size: var(--tw-font-size-label-sm);
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--chakra-colors-whiteAlpha-300);
    color: var(--chakra-colors-whiteAlpha-900);
    letter-spacing: initial;
    -webkit-box-flex: 0;
    flex-grow: 0;
    font-family: var(--chakra-fonts-mono);
    padding: 4px;
}

.css-tk4h0k {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1;
    border-radius: var(--chakra-radii-md);
    font-weight: 600;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    height: var(--chakra-sizes-6);
    min-width: var(--chakra-sizes-6);
    font-size: var(--tw-font-size-label-sm);
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--chakra-colors-whiteAlpha-300);
    color: var(--chakra-colors-whiteAlpha-900);
    letter-spacing: initial;
    padding: 4px;
}

.css-1wh2kri {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-margin-end: 0.5rem;
    margin-inline-end: 0.5rem;
}

.css-lrq0bd {
    width: var(--chakra-sizes-3);
    height: var(--chakra-sizes-3);
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
}

.css-ke6jx6 {
    color: var(--chakra-colors-paragraph);
    font-size: var(--tw-font-size-label-sm);
    font-weight: 600;
    line-height: 1;
    letter-spacing: initial;
}

.css-1qq679y {
    z-index: 10;
}